@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom right, rgb(240 240 240), rgb(210 210 240));
  color: rgb(30 30 30);
  font-family: Lato, sans-serif;
  min-height: 100vh;
}

canvas {
  margin: 40px 0 10px;
}

header {
  font-size: 1.5rem;
  padding: 40px 0 60px;
  text-align: center;
}

input[type='color'] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
}

input[type='file'] {
  display: none;
}

input[type='text'] {
  border: 1px solid black;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1rem;
  height: 30px;
  padding: 0 5px;
  width: 100%;
}

label {
  font-size: 1.25rem;
}

label.pseudo-button {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  justify-self: center;
  margin-bottom: 20px;
  padding: 5px 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 5px;
  width: 100%;
}

form > div:first-child {
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}

span {
  font-size: 0.75rem;
  font-style: italic;
}

.example-image {
  cursor: pointer;
  height: 60px;
  margin-right: 2px;
  object-fit: cover;
  opacity: 0.75;
  transition: opacity 0.25s ease;
  width: 80px;
}

.example-image:hover {
  opacity: 1;
}

.example-image:last-child {
  margin-right: 0;
}

.github-link {
  align-items: center;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 20%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 30px;
  position: fixed;
  top: 30px;
  transition: box-shadow 0.25s ease, top 0.25s ease;
  width: 60px;
}

.github-link:hover {
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / 20%);
  top: 26px;
}

.github-link > img {
  opacity: 0.75;
  width: 50px;
}

.github-link:hover > img {
  opacity: 1;
}
